body {
    background-color: gainsboro
}
h1{
    text-align: center;
}
.section {
    background-color: white;
    border: none;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 5px;
    text-align: justify;
    position: relative;
    height: 300px;
}
p {
    padding: 10px;   
}
@media (min-width: 992px){
.col-lg-4 {
    width: 33.33%;
    float: left;
}
}
@media (max-width: 991px) and (min-width: 768px){
.col-md-6 {
    width: 50%;
    float: left;
}
}
span {
    font-size: 20px;
    width: 150px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
    float: right;
    top: 0;
    right: 0;
    margin: 0;
    position: absolute;
}
#t1 {
    background-color: rgb(250, 150, 150);
    color: rgb(0, 0, 0);
    border: 2px solid black;
}
#t2 {
    background-color: rgb(250, 0, 0);
    color: rgb(250, 250, 250);
    border: 2px solid black;
}

#t3 {
    background-color: rgb(200, 200, 100);
    color: rgb(0, 0, 0);
    border: 2px solid black;
}s
}