* {
    margin: 0px;
    padding: 0px;
}

.top_img {
    background-image: url(bg.png);
    height: 570px;
    width: 100%;
    background-size: 100%;
}
.header {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
h1 {
    color: whitesmoke;
    line-height: 3cm;
    margin-left: 1cm;
    text-shadow: black;
    font-weight: 700;
}
.button {
    margin-top: 200px;
    
    background-color: thistle;
    width: fit-content;
    text-align: center;
}
