* {
    margin: 0px;
    padding: 0px;
}

.top_img {
    background-image: url(bg.png);
    height: 570px;
    width: 100%;
    background-size: 100%;
}
.top {
    background-image: url(bg.png);
    width: 100%;
    height: 570px;
}
#header-nav {
    height: 150px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.head {
    margin-left: 10px;
    font-size: 50px;
    color: lightgray;
    font-weight: 900;  
}
.tabs {
    float: right;
    list-style: none;
    margin-right: 10px
}
.navbar-header {
    margin-right: 150px;
}
.navbar-header ul li {
    display: inline-block;
    margin-left: 50px;
    font-size: 20px;
    color: lightgrey;
    
}
.navbar-header ul li:hover {
    color: orange;
    cursor: pointer;
}